# =============== #
# Unity 生成的临时文件
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]sset[Ss]tore/
sysinfo.txt

# =============== #
# Unity 生成的崩溃报告
# =============== #
*.stackdump

# =============== #
# 自动生成的 AssetBundle 目录
# =============== #
AssetBundles/

# =============== #
# VS/IDE 生成的文件
# =============== #
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Rider
.idea/
*.sln.iml

# =============== #
# 其他开发工具的缓存
# =============== #
.DS_Store
Thumbs.db

# =============== #
# VS Code
# =============== #
.vscode/
.history/

# =============== #
# 构建发布文件（如果有）
# =============== #
*.apk
*.aab
*.ipa
*.app

# =============== #
# 包管理器缓存
# =============== #
Packages/com.unity.collab-proxy/
